<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
<h2>Student Details:</h2>
First Name: <span th:text="${student.firstName}"/>
<br>
<br>
Last Name: <span th:text="${student.lastName}"/>
<br>
<br>
Country: <span th:text="${student.country}"></span>
<br>
<br>
Favourite Programming Language: <span th:text="${student.favouriteLanguage}"></span>
<br>
<br>
Favourite Operating System(s): <ul>
    <li th:each="tempSystems:${student.favouriteSystems}" th:text="${tempSystems}"></li>
</ul>
</body>
</html>